name: Update Wiki

on:
  push:
    branches: [ main ]
    paths:
      - 'wiki/**'

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Push Wiki Changes
        uses: Andrew-Cannon/github-wiki-action@v1
        with:
          wiki-directory: "wiki"
          commit-message: "Update Wiki"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}